img {
    height: 40vh;
    margin: auto;
}

col h2, col p {
    display: flex !important;
}

body {
    height: 100%;
}

#mainDisplay {
    background-image: url("../img/rainbow_drip.jpg");
    background-attachment: fixed;
    max-width: none !important;
    height: 100%;
}

/* Mobile */
@media (max-width:767px) {
    img {
        height: 30vh;
    }

    body {
        height: 100vh;
    }

    .container {
        height: 100%;
    }

    .col h2, .col p {
        text-align: center;
    }

    .col {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .row {
        flex-direction: column;
    }

    #aboutMeSection {
        padding: 0 2.5rem 0 2.5rem;
    }

    #mainDisplay {
        justify-content: space-between;
    }
}

/* Tablet */
@media (max-width:1024px) {
    .row {
        flex-direction: column;
    }

    .col {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .col h2, .col p {
        text-align: center;
    }

    #aboutMeSection {
        padding: 0 2.5rem 0 2.5rem;
    }
}

/* Desktop only */
@media (min-width:1025px) {
    .imgCol {
        flex-grow: 0;
        margin-left: 10%;
        margin-top: 5%;
    }

    .imgCol img {
        margin: 0;
    }

    #aboutMeSection {
        flex-grow: .7;
        margin-left: 5%;
    }
}