@font-face {
    font-family: trippyFont;
    src: url(../fonts/martinaFont.ttf);
}

html {
    height: 100vh;
}

#mainBrand {
    font-family: trippyFont;
}

#mainSection {
    margin: 0 !important;
    background-image: url("../img/rainbow_drip.jpg");
    background-attachment: fixed;
}

#mainSection .row {
    padding: 1.5rem;
}

#mainBooking {
    flex-direction: column;
}

#mainBookingRow {
    justify-content: center;
    padding-top: 0 !important;
}

#mainBookingText {
    justify-content: center;
}

.nav-item > .nav-link {
    font-family: trippyFont;
    letter-spacing: 0.1em;
}

/* #region video */
.videoRow {
    padding: 0 !important;
}

.embed-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
/* #endregion */

h1 {
    margin-bottom: 0 !important;
    font-family: trippyFont;
    text-align: center;
}

h4 {
    letter-spacing: 0.1em;
}

body {
    padding-top: 90px;
}

.card {
    display: none;
}

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030
}

.navbar {
    background-image: url("../img/trippy.jpeg");
    filter: invert(100%);
}

.navbar iframe {
    filter: invert(100%);
    margin-right: -30vw;
}

#socialLinks > a {
    padding: 8px !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

/*#region dropdown stuff*/
.dropdown .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

    max-height: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    position: static !important;
}

.dropdown.show .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    transition: max-height 0.3s, opacity 0.2s, visibility 0s;

    max-height: 190px;
    opacity: 1;
    visibility: visible;
    position: static !important;
}

.dropdown-item {
    /* text-align: center; */
    color: #ffffffbf !important;
}

.dropdown-item:hover {
    background: none;
    color: #fff !important;
}

.dropdown-menu {
    background-color: transparent;
    box-shadow: unset;
    border: none;
}
/*#endregion*/

/* #region Carousel stuff */

.carousel-item img {
    filter: brightness(50%);
}

.carousel-caption h5, .carousel-caption p {
    font-family: trippyFont;
    margin: 0;
}

.carousel-caption {
    padding: 0;
    height: 100%;
    top: 0;
}

#pastEvents {
    font-family: trippyFont;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

#pastEventsRow {
    justify-content: center;
    padding: 0 !important;
}

/* #endregion */

/* Mobile */
@media (max-width:767px) {
    #navbar-content {
        height: 100vh;
    }

    h4 {
        margin-bottom: 0;
    }

    body {
        padding-top: 78px;
    }

    .navbar-collapse.collapse.show, .navbar-collapse.collapsing {
        text-align: center;
    }

    .nav-item {
        padding-top: 0.5rem;
    }

    #menuRule {
        display: none;
    }

    #navHolder {
        padding-top: 25vh;
    }

    #landing img {
        width: 100%;
        height: 100%;
        filter: opacity(70%);
    }

    #mainBookingText {
        font-size: xx-large;
    }

    .mainImg {
        height: 30vh;
    }
    
    #landing {
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100% !important;
    }

    nav {
        padding-right: 0px !important;
    }

    li {
        opacity: 0;
        animation: fadeIn 0.9s 1;
        animation-fill-mode: forwards;
        font-size: large;
        font-weight: bold;
    }
     
    li:nth-child(n+1) {
        animation-delay: 0.1s;
    }
    li:nth-child(n+2) {
        animation-delay: 0.2s;
    }
    li:nth-child(n+3) {
        animation-delay: 0.3s;
    }
    li:nth-child(n+4) {
        animation-delay: 0.4s;
    }
    li:nth-child(n+5) {
        animation-delay: 0.5s;
    }
    li:nth-child(n+6) {
        animation-delay: 0.6s;
    }

    /* Hamburger menu styling */
    .container {
        display: inline-block;
        cursor: pointer;
    }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-7px, 7px);
        transform: rotate(-45deg) translate(-7px, 7px);
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-7px, -7px);
        transform: rotate(45deg) translate(-7px, -7px);
    }

    .navbar-toggler {
        border: none;
    }

    button:focus {
        outline: none !important;
    }

    .dropdown-menu.show {
        border-radius: unset;
        width: 50%;
        margin: auto;
    }

    .dropdown-item {
        text-align: center;
    }

    .card {
        margin: 1rem;
    }
}

/* Tablet & Desktop */
@media (min-width:768px) {
    body {
        padding-top: 0;
        margin-left: 250px;
    }

    hr {
        padding-top: 0.75rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: none;
    }

    #navHolder {
        padding-left: 0;
    }

    #pastEvents {
        font-size: 3rem;
    }

    .carousel-caption h5, .carousel-caption p {
        font-size: 1.5rem;
    }

    .card-deck {
        margin-left: 0px !important;
        width:100%;
        display: flex;
        flex-wrap: wrap;
    }

    .card-deck>* {
        flex: 1 1 calc(40% - 20px) !important;
    }

    .card {
        margin: 15px;
    }

    #mainDisplay .card {
        display: none;
    }

    .mainImg {
        height: 30vh;
    }

    #landing img {
        width: 100%;
        height: 100%;
        filter: opacity(70%);
    }
    
    #landing {
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100% !important;
    }

    #socialLinks {
        justify-content: left !important;
    }

    #socialLinks a:first-child {
        padding-left: 0px !important;
    }

    .nav-link {
        padding-left: 0 !important;
    }

    .nav-item {
        padding-top: 0.75rem;
    }
    
    .navbar.fixed-left {
        bottom: 0;
        right: auto;
        width: 250px;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding-top: 3rem;
        padding-left: 2rem;
    }
    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align: baseline
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%;
    }
}

/* Desktop only */
@media (min-width:1025px) {
    h1 {
        text-align: left;
    }

    .carousel-caption h5, .carousel-caption p {
        font-size: 3rem;
    }

    body {
        margin-left: 18vw;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    #landing {
        background-image: url(../img/cover2.jpg);
        background-blend-mode: lighten;
        display: inline-block;
        position: relative;
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
    }

    #landing .flex-column {
        margin: 0;
    }

    #mainBooking {
        justify-content: center;
    }

    #mainBookingRow {
        justify-content: left;
    }

    #mainBookingText {
        justify-content: left;
    }

    .mainImg {
        height: 40vh;
    }

    .overlay-container {
        margin: 5% !important;
        height: 80%;
    }

    /*#region desktop slide text stuff*/
    .text-overlay {
        display: flex;
        font-family: trippyFont;
        /* animation: 2s slide-down; */
        text-shadow: -4px 4px #ef3550,
                -8px 8px #f48fb1,
                -12px 12px #7e57c2,
                -16px 16px #2196f3,
                -20px 20px #26c6da,
                -24px 24px #43a047,
                -28px 28px #eeff41,
                -32px 32px #f9a825,
                -36px 36px #ff5722;
    }

    #line2 {
        animation: 1.5s slide-right;
    }

    @keyframes slide-right {
        from {
            margin-left: -200%;
            width: 200%
        }
        
        to {
            margin-left: 0%;
            width: 100%;
        }
    }
    /*#endregion*/

    .card-deck>* {
        flex: 1 1 calc(30% - 20px) !important;
    }

    .navbar.fixed-left {
        width: 18vw;
        padding: 4rem 0 0 4rem;
    }
}