body {
    padding-top: 90px
}

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030
}

.card, img {
    border-radius: 0.5rem !important;
}

/* Animate card fade-in */
/* .card {
    animation: fadeIn 2.2s 1;
    animation-fill-mode: forwards;
} */

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

/* dropdown stuff */
.dropdown .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

    max-height: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    position: static !important;
}

.dropdown.show .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    transition: max-height 0.3s, opacity 0.2s, visibility 0s;

    max-height: 190px;
    opacity: 1;
    visibility: visible;
    position: static !important;
}

.dropdown-item {
    /* text-align: center; */
    color: #ffffffbf !important;
}

.dropdown-item:hover {
    background: none;
    color: #fff !important;
}

.dropdown-menu {
    background-color: transparent;
    box-shadow: unset;
    border: none;
}

/* Mobile */
@media (max-width:767px) {
    #navbar-content {
        height: 100vh;
    }

    h4 {
        margin-bottom: 0;
    }

    .navbar-collapse.collapse.show, .navbar-collapse.collapsing {
        text-align: center;
    }

    .nav-item {
        padding-top: 0.5rem;
    }

    #menuRule {
        display: none;
    }

    #navHolder {
        padding-top: 25vh;
    }

    nav {
        padding-right: 0px !important;
    }

    li {
        opacity: 0;
        animation: fadeIn 0.9s 1;
        animation-fill-mode: forwards;
        font-size: large;
        font-weight: bold;
    }
     
    li:nth-child(n+1) {
        animation-delay: 0.1s;
    }
    li:nth-child(n+2) {
        animation-delay: 0.2s;
    }
    li:nth-child(n+3) {
        animation-delay: 0.3s;
    }
    li:nth-child(n+4) {
        animation-delay: 0.4s;
    }
    li:nth-child(n+5) {
        animation-delay: 0.5s;
    }
    li:nth-child(n+6) {
        animation-delay: 0.6s;
    }

    /* Hamburger menu styling */
    .container {
        display: inline-block;
        cursor: pointer;
    }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-7px, 7px);
        transform: rotate(-45deg) translate(-7px, 7px);
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-7px, -7px);
        transform: rotate(45deg) translate(-7px, -7px);
    }

    .navbar-toggler {
        border: none;
    }

    button:focus {
        outline: none !important;
    }

    .dropdown-menu.show {
        border-radius: unset;
        width: 50%;
        margin: auto;
    }

    .dropdown-item {
        text-align: center;
    }

    .card {
        margin: 1rem;
    }
}

/* Tablet & Desktop */
@media (min-width:768px) {
    body {
        padding-top: 0;
        margin-left: 250px;
    }

    hr {
        padding-top: 0.75rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: none;
    }

    #navHolder {
        padding-left: 0;
    }

    .nav-link {
        padding-left: 0 !important;
    }

    .nav-item {
        padding-top: 0.75rem;
    }
    
    .navbar.fixed-left {
        bottom: 0;
        right: auto;
        width: 250px;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding-top: 3rem;
        padding-left: 2rem;
    }
    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align: baseline
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%;
    }
}

/* Desktop only */
@media (min-width:1025px) {
    body {
        margin-left: 18vw;
    }

    .navbar.fixed-left {
        width: 18vw;
        padding: 4rem 0 0 4rem;
    }
}